<ion-header class="toolbarColor">
  <ion-toolbar class="textCenter">
    <h1>{{q}}</h1>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="start" edge slot="fixed">
    <ion-fab-button [routerLink]="['/', 'tabs', 'tab1']" color="dark"><ion-icon name="arrow-dropleft-circle" color="light"></ion-icon></ion-fab-button>
  </ion-fab>

  <ion-card class="welcome-cardImg" (click)='openIab(url=article.url)' *ngFor= 'let article of topHeadline.articles'>
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-header class="textPointer">
      <ion-text color="dark"><h5>{{article.title}}</h5></ion-text>
      <ion-text color="dark"><p>{{article.description}}</p></ion-text>
      <ion-text><p>{{article.source.name}}</p></ion-text>
    </ion-card-header>
  </ion-card>

</ion-content>