.textPointer ion-text {
    max-height: 35vh;
    overflow: hidden;
    cursor: pointer;
}

.welcome-cardImg ion-img {
    max-height: 35vh;
    overflow: hidden;
    cursor: pointer;
}

.textCenter h1 {
    text-align: center;
    color: black;
}
    
.toolbarColor ion-toolbar {
    --ion-toolbar-background: rgb(230, 255, 20);
}