<ion-header class="toolbarColor">
  <ion-toolbar class="textCenter">
    <h1>Znews</h1>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="start" edge slot="fixed">
    <ion-fab-button color="dark"><ion-icon name="arrow-dropdown"></ion-icon></ion-fab-button>
    <ion-fab-list side="bottom" class="iconColor">
      <ion-button color="dark" (click)='set(category="technology")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="rocket"></ion-icon><ion-label color="light">_technology</ion-label></ion-button>
      <ion-button color="dark" (click)='set(category="sport")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="baseball"></ion-icon><ion-label color="light">_sport</ion-label></ion-button>
      <ion-button color="dark" (click)='set(category="business")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="podium"></ion-icon><ion-label color="light">_business</ion-label></ion-button>
      <ion-button color="dark" (click)='set(category="entertainment")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="contacts"></ion-icon><ion-label color="light">_gossip</ion-label></ion-button>
      <ion-button color="dark" (click)='set(category="general")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="albums"></ion-icon><ion-label color="light">_general</ion-label></ion-button>
      <ion-button color="dark" (click)='set(category="health")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="leaf"></ion-icon><ion-label color="light">_health</ion-label></ion-button>
      <ion-button color="dark" (click)='set(category="science")' [routerLink]="['/', 'tabs', 'tab1', 'id']"><ion-icon name="planet"></ion-icon><ion-label color="light">_science</ion-label></ion-button>
    </ion-fab-list>
  </ion-fab>

  <ion-item class="inputCenter">
    <ion-input placeholder="search" [(ngModel)]='q'></ion-input>
    <ion-icon name="search" color="dark"  (click)='setMagicWord()' [routerLink]="['/', 'tabs', 'tab1', 'magicWord']"></ion-icon>
  </ion-item>

  <ion-card class="welcome-cardImg" (click)='openIab(url=article.url)' *ngFor= 'let article of topHeadline.articles'>
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-header class="pointer">
      <ion-text color="dark"><h5>{{article.title}}</h5></ion-text>
      <ion-text color="dark"><p>{{article.description}}</p></ion-text>
      <ion-text><p>{{article.source.name}}</p></ion-text>
    </ion-card-header>
  </ion-card>

</ion-content>